

.navbar-collapse{
    flex-grow: 0 !important;}

.onecontainer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.nyi-image{
    width: 100%;
    padding-top: 20px;
}
.nyi-row{
    background-color: rgb(237, 237, 237);
    padding-top: 10px;
    padding-bottom: 10px;


.thrid-bg{
    background-color: #F2EFEE;

}