
.onecontainer{
    margin-top: 30px;
    margin-bottom: 30px;
}
.nyi-image{
    width: 100%;
    padding-top: 20px;
}
.nyi-row{
    background-color: rgb(237, 237, 237);
    padding-top: 10px;
    padding-bottom: 10px;

}